<h2 class="display-4 mb-4 mt-5">Find a new recipe</h2>
<form action="/list-recipes" method="post">
  <div class="mb-3">
    <label for="ingredient" class="form-label">Main ingredient: </label>
    <input type="text" name="ingredient" class="form-control" id="ingredient" required>
  </div>
  <div>
    <input type="submit" value="List recipes" class="btn btn-primary">
  </div>
</form>

<a class="btn btn-secondary mt-5" href="/" role="button">Back to index</a>
