<h2>Add a new recipe to your cookbook</h2>
<form action="/recipes" method="post">
  <div>
    <label for="name">Name of the recipe: </label>
    <input type="text" name="name" id="name" required>
  </div>
  <div>
    <label for="description">Description of the recipe: </label>
    <input type="text" name="description" id="description" required>
  </div>
  <div>
    <input type="submit" value="Add the recipe">
  </div>
</form>
<a href="/">Back to index</a>
